.additionally__products-list {
  list-style: none;
  padding: 0;
}

.additionally__title {
  font-family: @oswald;
}

.additionally__products-title {
  font-family: @oswald;
  font-style: normal;
  line-height: 36px;
  text-transform: uppercase;
}

.additionally__products-text {
  color: #444444;
}

.additionally__gift {
  background-color: rgba(104, 183, 56, 0.85);
  width: 245px;
}

.additionally__products-button {
  font-family: @oswald;
  font-size: 16px;
  color: #ffffff;
  background-color: #68b738;
  padding: 7px 53px;
}

.additionally__gift-decription {
  color: #ffffff;
}

@media screen and (min-width: 320px) {
  .additionally__title {
    font-size: 36px;
  }
}

@media screen and (min-width: 768px) {
  .additionally {
    margin-inline: @tablet-size;
  }

  .additionally__title {
    font-size: 36px;
  }
}

@media screen and (min-width: 1440px) {
  .additionally__wrapper {
    display: flex;
    gap: 80px;
  }
}
