.additionally__products-list {
  list-style: none;
  padding: 0;
}

.additionally__title {
  font-family: @oswald;
}

.additionally__products-title {
  font-family: @oswald;
  font-style: normal;
  line-height: 36px;
  text-transform: uppercase;
}

.additionally__products-text {
  color: #444444;
  font-family: @lato;
}

.additionally__gift {
  background: linear-gradient(45deg, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../img/gift-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.additionally__products-button {
  font-family: @oswald;
  font-size: 16px;
  color: #ffffff;
  background-color: #68b738;
  padding: 7px 53px;
  text-transform: uppercase;
}

.additionally__gift-decription {
  color: #ffffff;
  font-family: @lato;
}

.additionally__title-wrapper {
  display: flex;
  justify-content: flex-start;
}

@media screen and (min-width: 320px) {
  .additionally {
    margin-inline: @mobile-size;
  }

  .additionally__title {
    font-size: 24px;
    display: block;
    background-color: #ffffff;
  }

  .additionally__title::after {
    content: "";
    position: absolute;
    left: 0;
    margin-top: 30px;
    height: 3px;
    width: 100%;
    background-color: #68b738;
    z-index: -1;
  }

  .additionally__gift {
    min-height: 290px;
    width: 280px;
  }

  .additionally__gift-wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: center;
    padding: 50px;
    margin-top: 40px;
  }

  .additionally__products-list {
    display: flex;
    flex-direction: column;
  }

  .additionally__products-text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  .additionally__products-item {
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
    display: flex;
    flex-direction: column;
    padding-block: 15px;
  }

  .additionally__products-button {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .additionally {
    margin-inline: @tablet-size;
  }

  .additionally__gift {
    min-height: 200px;
    width: 707px;
  }

  .additionally__gift-wrapper {
    display: flex;
    flex-direction: row;
    gap: 300px;
    padding: 50px;
  }

  .additionally__title {
    font-size: 36px;
    padding-inline: 30px;
  }

  .additionally__products-title {
    font-size: 20px;
  }

  .additionally__products-text {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .additionally__products-item {
    border: 1px solid #cdcdcd;
    padding-inline: 35px;
    display: grid;
    grid-template-columns: 2fr 1fr 85px;
  }

  .additionally__gift-decription {
    width: 160px;
  }

  .additionally__products-button {
    grid-column: 1/-1;
  }
}

@media screen and (min-width: 1440px) {
  .additionally {
    margin-inline: @desktop-size;
  }

  .additionally__wrapper {
    display: flex;
    gap: 80px;
    margin-bottom: 85px;
  }

  .additionally__gift-icon {
    margin-bottom: 30px;
  }

  .additionally__gift-wrapper {
    flex-direction: column;
    gap: 30px;
    text-align: center;
    padding: 0;
  }

  .additionally__gift {
    min-height: 288px;
    width: 245px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 45px;
  }

  .additionally__products-list {
    width: 100%;
  }

  .additionally__products-item {
    border-top: 1px solid #cdcdcd;
    border-inline: none;
    display: grid;
    grid-template-columns: 1fr 230px 66px 244px;
    width: 100%;
    padding-inline: 0;
  }

  .additionally__products-button {
    width: 244px;
    min-height: 40px;
    grid-column: auto;
  }

  .additionally__products-text {
    margin: 0;
  }
}
