.catalog__list {
  list-style: none;
  padding: 0;
}

.catalog__title {
  font-family: @oswald;
  font-weight: 400;
}

.catalog__item-title {
  font-family: @oswald;
  text-transform: uppercase;
  color: #000000;
}

.catalog__item-options-point {
  font-size: 16px;
  color: #444444;
}

.catalog__item-button {
  font-family: @oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  border: none;
  width: 244px;
  height: 54px;
  padding: 15px 53px;
  background-color: #68b738;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.catalog__item-info {
  font-family: @lato;
}

.catalog__more-item-link {
  font-family: @lato;
}

@media screen and (min-width: 320px) {
  .catalog__title {
    font-size: 36px;
  }

  .catalog__item-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 150px);
  }

  .catalog__item-options-button {
    grid-column: 1/2;
  }

  .catalog__more-item-wrapper {
    min-height: 158px;
    width: 279px;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
  }

  .catalog__more-item-link {
    display: flex;
    flex-direction: column;
  }

  .catalog__more-item-title {
    font-family: @oswald;
    text-transform: uppercase;
    color: #111111;
  }

  .catalog__more-item-text {
    color: #444444;
  }

  .catalog__more-item-button {
    display: block;
    background-color: #f2f2f2;
    width: 279px;
    min-height: 40px;
    font-family: @oswald;
    text-transform: uppercase;
    color: #444444;
    text-align: center;
    padding-block: 10px;
  }
}

@media screen and (min-width: 768px) {
  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
  }

  .catalog__title {
    font-size: 60px;
  }

  .catalog__item-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .catalog__more-item-wrapper {
    width: 324px;
    min-height: 429px;
    border: 1px solid #ebebeb;
  }

  .catalog__more-item-button {
    width: 249px;
    min-height: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .catalog__list {
    gap: 80px;
    margin-top: 85px;
  }

  .catalog__item {
    position: relative;
  }

  .catalog__item-img {
    min-height: 160px;
  }

  .catalog__more-item-wrapper {
    width: 245px;
    min-height: 431px;
  }

  .catalog__more-item-button {
    width: 169px;
  }
}

