.contacts__title {
  font-family: @oswald;
  background-color: #ffffff;
  padding-inline: 40px;
}

.contacts__title-wrapper {
  display: flex;
  justify-content: flex-start;
}

.contacts__about-description {
  font-family: @oswald;
  text-transform: uppercase;
}

.contacts-block__label {
  font-family: @oswald;
  text-transform: uppercase;
}

.contacts-block__input {
  font-family: @oswald;
  border: 1px solid #e7e7e7;
  padding: 11px 20px;
  font-size: 20px;
  color: #444444;
  text-transform: uppercase;
}

.contacts-block__input:hover {
  border: 1px solid #cdcdcd;
}

.contacts-block__input:focus {
  border: 1px solid #444444;
}

.contacts-block__input:invalid {
  border: 1px solid #FF8282;
}

@media screen and (min-width: 320px) {
  .contacts__title {
    font-size: 36px;
  }

  .contacts-block {
    display: grid;
    gap: 20px;
  }

  .contacts-block__input--imail {
    background-image: url("../img/email.svg");
    background-position: right;
    background-repeat: no-repeat;
    padding-right: 30px;
  }

  .contacts-block__input--tel {
    background-image: url("../img/phone.svg");
    background-position: right;
    background-repeat: no-repeat;
  }

  .contacts-block__field {
    display: flex;
    gap: 20px;
  }

  .contacts-block__input {
    width: 100%;
  }

  .contacts__title::after {
    content: "";
    position: absolute;
    left: 0;
    margin-top: 30px;
    height: 3px;
    width: 100%;
    background-color: #68b738;
    z-index: -1;
  }
}

@media screen and (min-width: 1440px) {
  .contacts-block {
    display: flex;
    gap: 78px;
  }

  .contacts-block__input {
    width: 467px;
  }
}
