.example__title {
  font-family: @oswald;
  font-weight: 400;
}

.example__text {
  color: #444444;
  font-family: @lato;
}

.example__comparison-title {
  font-family: @oswald;
  font-size: 30px;
  text-transform: uppercase;
}

.example__comparison-text {
  color: #444444;
  font-family: @lato;
}

.expenses__info {
  font-family: @oswald;
  font-size: 20px;
  text-transform: uppercase;
}

.example__total {
  font-family: @oswald;
  font-size: 14px;
  text-transform: uppercase;
}

@media screen and (min-width: 320px) {
  .example {
    position: relative;
    margin: 0;
  }

  .example::after {
    content: "";
    bottom: 0;
    position: absolute;
    right: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, #f2f2f2, #f2f2f2);
    z-index: -1;
  }

  .example__container {
    max-width: 320px;
    margin: 0 auto;
    padding-inline: @mobile-size;
  }

  .example__comparison-wrapper {
    display: flex;
    gap: 20px;
  }

  .example__column {
    position: relative;
  }

  .example__slider-picture-img {
    position: absolute;
    bottom: 0;
    left: -9px;
    right: 0;
    max-width: 102%;
    margin: 0 auto;
    padding-left: 15px;
  }

  .example__slider-picture-img--before {
    display: block;
    clip: rect(auto, 150px, auto, auto);
    z-index: 50;
  }

  .example__slider-picture--after {
    display: block;
    clip: rect(auto, auto, auto, 150px);
  }
}

@media screen and (min-width: 768px) {
  .example {
    position: relative;
    margin: 0;
  }

  .example::after {
    content: "";
    height: 30%;
    width: 100%;
  }

  .example__title {
    font-size: 60px;
  }

  .example__comparison-wrapper {
    gap: 42px;
  }

  .example__comparison-item {
    text-align: center;
  }

  .example__container {
    max-width: 768px;
    margin: 0 auto;
    padding-inline: @tablet-size;
  }

  .example__total {
    font-size: 20px;
  }

  .example__column {
    position: relative;
  }

  .example__slider-picture-img {
    position: absolute;
    bottom: 0;
    left: -9px;
    right: 0;
    max-width: 102%;
    margin: 0 auto;
    padding-left: 15px;
  }

  .example__slider-picture-img--before {
    display: block;
    clip: rect(auto, 300px, auto, auto);
    z-index: 50;
  }

  .example__slider-picture--after {
    display: block;
    clip: rect(auto, auto, auto, 300px);
  }
}

@media screen and (min-width: 1440px) {
  .example {
    display: flex;
    position: relative;
    margin: 0;
  }

  .example::after {
    content: "";
    height: 60%;
  }

  .example__container {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    padding-inline: @desktop-size;
    margin: 0 auto;
  }

  .example__column {
    position: relative;
    width: 600px;
  }

  .example__slider-picture-img {
    position: absolute;
    bottom: 0;
    left: -9px;
    right: 0;
    max-width: 102%;
    margin: 0 auto;
    padding-left: 15px;
  }

  .example__slider-picture-img--before {
    display: block;
    clip: rect(auto, 300px, auto, auto);
    z-index: 50;
  }

  .example__slider-picture--after {
    display: block;
    clip: rect(auto, auto, auto, 300px);
  }
}
