.footer {
  background-color: #f2f2f2;
}

.footer__socials-list {
  list-style: none;
  padding: 0;
}

@media screen and (min-width: 320px) {
  .footer {
    margin-inline: @mobile-size;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: @tablet-size;
  }

  .footer__socials-list {
    display: flex;
    gap: 20px;
    padding: 0;
  }
}

@media screen and (min-width: 1440px) {
  .footer {
    margin-inline: @desktop-size;
  }
}
