.header__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
}

.header__logo-text {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
}

.header__subtitle {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.header__menu-list {
  list-style: none;
}

.header__menu-link {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .header {
    padding-inline: 31px;
  }

  .header__logo-text {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    padding-inline: 110px;
  }
}
