.review__title {
  font-family: @oswald;
  background-color: #ffffff;
  padding-inline: 40px;
}

.review__title-wrapper {
  display: flex;
  justify-content: flex-start;
}

.review-block__input {
  border: 1px solid #e7e7e7;
  width: 100%;
  font-family: @oswald;
  font-size: 20px;
  text-transform: uppercase;
  color: #444444;
}

@media screen and (min-width: 320px) {
  .review-block__input {
    min-height: 150px;
  }

  .review__title::after {
    content: "";
    position: absolute;
    left: 0;
    margin-top: 30px;
    height: 3px;
    width: 100%;
    background-color: #68b738;
    z-index: -1;
  }
}

@media screen and (min-width: 768px) {
  .review__title {
    font-size: 36px;
  }
}
