.review__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}

.review-block__input {
  border: 1px solid #e7e7e7;
  width: 100%;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #444444;
}

@media screen and (min-width: 768px) {
  .review__title {
    font-size: 36px;
  }
}
