.sight__title {
  font-family: @oswald;
  background-color: #ffffff;
  padding-inline: 40px;
}

.sight__title-wrapper {
  display: flex;
  justify-content: flex-start;
}

.sight__label {
  font-family: @oswald;
  text-transform: uppercase;
}

.sight__necessarily {
  font-style: normal;
  font-family: @lato;
}

.sight__check {
  display: inline-block;
  width: 46px;
  height: 46px;
  vertical-align: middle;
  border: 1px solid #cdcdcd;
  cursor: pointer;
}

.sight__checkbox:checked + .sight__check {
  background-image: url("../img/check.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.sight__button {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  border: none;
  background-color: #68b738;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
}

.sight__check:hover {
  border: 1px solid #bababa;
}

.sight__label:active {
  opacity: 0.3;
}

@media screen and (min-width: 320px) {
  .sight__field {
    display: grid;
    gap: 13px;
  }

  .sight__button {
    width: 280px;
    min-height: 40px;
  }

  .sight__title::after {
    content: "";
    position: absolute;
    left: 0;
    margin-top: 30px;
    height: 3px;
    width: 100%;
    background-color: #68b738;
    z-index: -1;
  }
}

@media screen and (min-width: 768px) {
  .sight__title {
    font-size: 36px;
  }

  .sight__field {
    display: grid;
    grid-template-columns: repeat(2, 240px);
    gap: 20px;
    margin-bottom: 50px;
  }

  .sight__button {
    width: 282px;
    min-height: 52px;
  }
}

@media screen and (min-width: 1440px) {
  .sight__block {
    margin-bottom: 82px;
  }

  .sight__field {
    display: flex;
    gap: 100px;
  }

  .sight__button {
    width: 568px;
  }
}
